{% extends 'base.html.twig' %}

{% block title %}Bitcoin Price{% endblock %}

{% block body %}
    <h1>Bitcoin Price</h1>
    <p>USD: <span id="usd">{{ usd }}</span></p>
    <p>EUR: <span id="eur">{{ eur }}</span></p>
    <p>Next update in: <span id="timer">60 seconds</span></p>

    <script>
        let updateTimerLength = 60; // Refresh every 60 seconds
        let remainingSeconds = updateTimerLength;
        const timerElement = document.getElementById('timer');

        async function updateTimer() {
            if (remainingSeconds === 0) {
                remainingSeconds--; //
                timerElement.innerText = 'updating...';
                await refreshBitcoinPrice();
                remainingSeconds = updateTimerLength;
                timerElement.innerText = remainingSeconds + ' seconds';
            } else if (remainingSeconds > 0) {
                remainingSeconds--;
                timerElement.innerText = remainingSeconds + ' seconds';
            }
        }

        function refreshBitcoinPrice() {
            return fetch('/bitcoin-price')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('usd').innerText = data.usd;
                    document.getElementById('eur').innerText = data.eur;
                });
        }

        setInterval(updateTimer, 1000); // Update timer every 1 second
    </script>
{% endblock %}
